<div class="container" data-ng-controller="puzzleCtrl as pctrl" ng-keydown="pctrl.keyDown($event)">
    <div class="card">
        <div class="card-header">
            <h2>{{pctrl.puzzle.name}}</h2>
            <div><small>template by {{pctrl.puzzle.puzzle_template.owner}}</small></div>
            <div><small>puzzle by {{pctrl.puzzle.owner}}</small></div>
        </div>
        <div class="card-body" style="min-height:530px;">
            <div class="puzzle-edit-clues-container">
                <h3>Clues</h3>
                <div>
                    <h4>Across</h4>
                    <div class="pointy" 
                        ng-class="{'active' : pctrl.inSelectedWord(clue.start.row, clue.start.col) && pctrl.selectedDirection == 'across'}"
                        ng-repeat="(key, clue) in pctrl.possibleClues.across" 
                        ng-click="pctrl.clueClick(clue, 'across');">{{key | number}}. {{clue.clue}}</div>
                    <h4>Down</h4>
                    <div class="pointy" 
                        ng-class="{'active' : pctrl.inSelectedWord(clue.start.row, clue.start.col) && pctrl.selectedDirection == 'down'}"
                        ng-repeat="(key, clue) in pctrl.possibleClues.down" 
                        ng-click="pctrl.clueClick(clue, 'down');">{{key | number}}. {{clue.clue}}</div>
                </div>
            </div>
            <div class="puzzleContainer">
                <div class="puzzle">
                    <table>
                        <tr ng-repeat="row in pctrl.range(1,pctrl.puzzle.puzzle_template.height)" >
                            <td 
                                ng-class="{'black'              : pctrl.isBlackSquare(row, col)
                                         , 'pointy'             : !pctrl.isBlackSquare(row, col)
                                         , 'clue'               : pctrl.clueNumber(row, col) > -1
                                         , 'selected-letter'    : pctrl.selectedRow == row && pctrl.selectedCol == col
                                         , 'selected-word'      : pctrl.inSelectedWord(row, col)}" 
                                ng-repeat="col in pctrl.range(1, pctrl.puzzle.puzzle_template.width)" 
                                data-row="{{row}}" 
                                data-col="{{col}}"
                                data-clue-number="{{pctrl.clueNumber(row, col) + 1}}"
                                ng-click="pctrl.selectLetter(row, col)">
                                    <div contenteditable="true" ng-model="pctrl.puzzle.puzzle_squares[row + '-' + col].letter"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clue-input-container" ng-show="pctrl.selectedRow > 0 && pctrl.selectedCol > 0">
                    <div>Clue for {{pctrl.selectedClue() | number}} {{pctrl.selectedDirection}}:</div>
                    <div style="margin-bottom:4px;"><input id="clue" ng-model="pctrl.selectedClueText"/></div>
                    <div class="btn btn-primary" ng-click="pctrl.saveClue()">Save Clue</div>
                </div>
            </div>
            <div class="suggestions" ng-show="pctrl.selectedRow > 0 && pctrl.selectedCol > 0 && pctrl.puzzle.puzzle_squares[pctrl.currentSuggestionRequest].letter == ''">
                <h3>Suggestions</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Letter</th>
                            <th>Strength</th>
                        </tr>
                    </thead>
                    <tbody ng-show="pctrl.suggestions.length > 0 && !self.callingSuggestion">
                        <tr ng-repeat="suggestion in pctrl.suggestions">
                            <td>{{suggestion.letter | uppercase}}</td>
                            <td>{{100 * suggestion.score / pctrl.total_suggestion_score | number: 3}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-hide="pctrl.suggestions.length > 0 || self.callingSuggestion">
                        <tr>
                            <td colspan="2">No suggestions</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="btn btn-primary bottom-right-button" ng-click="pctrl.create()">Create</div>
            </div>
        </div>
    </div>
</div>