.pointy{
    cursor:pointer;
}
.puzzle{
    text-align: center;
    padding:5px 5px 50px;
}
.puzzle table{
    margin: 0 auto;
}
.puzzle table td{
    border:1px solid black;
    width:25px;
    height:25px;
}
.puzzle table td.black{
    background-color:black;
}
.puzzle table td.clue div{
    text-align: left;
}
.puzzle table td.clue div::after{
    content: attr(data-clue-number);
    top: -9px;
    position: relative;
    font-size: 9px;
    left: 1px;
}
.bottom-right-button{
    position:absolute;
    bottom:10px;
    right:10px;
}