<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" ng-style="mactrl.profileBgImage" toggle-submenu>
            <div class="profile-pic">
                <img ng-show="profile.logged_in" src="{{profile.profile_image_url}}" alt="">
            </div>

            <div class="profile-info" ng-show="profile.logged_in">
                <div>{{profile.fullname}}</div>

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="" ng-click="mactrl.logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active" ng-hide="profile.logged_in">
            <a href="#" onclick="window.open('/auth/twitter','auth','width=500,height=450');return false;"><i class="zmdi zmdi-sign-in"></i> Login</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('puzzles') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-puzzle-piece"></i> Puzzles</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="puzzles.my-incomplete-list" data-ng-click="mactrl.sidebarStat($event)" ng-show="profile.logged_in">My incomplete puzzles</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="puzzles.list" data-ng-click="mactrl.sidebarStat($event)">List</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="puzzles.new" data-ng-click="mactrl.sidebarStat($event)">+ New Puzzle </a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('puzzle-templates') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-collection-text"></i> Templates</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="puzzle-templates.list" data-ng-click="mactrl.sidebarStat($event)">List</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="puzzle-templates.new" data-ng-click="mactrl.sidebarStat($event)">+ New Puzzle Template</a></li>
            </ul>
        </li>
    </ul>
</div>
